.col-md-12@content
  section.headline: h1.central TalentTag блог

  section: .text
    / .note 4 ноября 2014
    markdown:
      ## Строим профессиональный бренд

      Задумывались ли вы о том, что мы живем в век, когда для успешного построения карьеры недостаточно просто работать в крупной известной компании? 

      Важно не то, как звучит название вашей должности, или насколько именитые компании перечислены в послужном списке в вашем резюме. **Вы - это Вы, а не ваша работа.**

      Однако каким бы сильным специалистом вы ни были, пока вы не рассказываете о своих успехах, достижениях, умениях и стремлениях, никто о вас не узнает. У вас не будет «лица» на рынке труда, или так называемого профессионального бренда.
       
      ### НАЧАТЬ СТРОИТЬ ПРОФЕССИОНАЛЬНЫЙ БРЕНД

      Профессиональный бренд – это не то, что формируется в одну секунду. Он строится постепенно, шаг за шагом. 

      С одной стороны, информация о вас самостоятельно распространяется в узких кругах – среди коллег, клиентов, партнеров. С другой стороны, вы можете собственными стараниями усилить ваш профессиональный бренд. 

      **Что же такое профессиональный бренд?**

      Ваш профессиональный бренд - это вы, ваше имя, Иванов Сергей Петрович. 

      Так просто? Да, так просто и так сложно одновременно. Какие ассоциации с вашим именем будут возникать у работодателей? Являетесь ли вы в их глазах Профессионалом, который решит стоящие перед должностью и компанией в целом задачи? Будут ли они готовы доверить вам выполнение текущих обязанностей? Увидят ли они ваш Потенциал? Будут ли готовы вкладывать деньги в ваше обучение и развитие? 

      Чтобы у работодателей сформировалось представление о вас, как о Профессионале, чтобы они захотели работать с вами, чтобы представляли, что от вас ожидать – и чтобы вы, в свою очередь, уже могли выбирать наиболее интересные для вас предложения, вам нужно взять построение вашего профессионального бренда в свои руки.

      **Социальные сети** – прекрасное место для построения профессионального бренда: просматривая профили, посты, списки друзей потенциальных кандидатов, работодатели обращают внимание на то, что и как рассказывает автор о своей работе, чем интересуется, насколько компетентные оставляет комментарии, как отзываются о нём друзья и коллеги. 

      Но социальные сети – всё-таки в первую очередь место для личного общения, и записи о ваших профессиональных достижениях или новых увлечениях затеряются в прочих публикациях. Как совместить все возможности, которые дают нам социальные сети для построения своего профессионального бренда, и помочь работодателям узнать о вас больше?

      Теперь это возможно с помощью **TalentTag** и вашего **Профессионального блога**.

      Что такое Профессиональный блог? Это ваш рассказ, от первого лица, о том, что происходит в вашей профессиональной жизни, отражающий ваши знания, экспертизу, область интересов и прочее, доступный работодателям.

      Всё, что вам нужно – зарегистрироваться/ авторизоваться через социальную сеть на talent-tag.ru и сделать два  простых шага

      1. Подключить социальные сети, которыми вы пользуетесь, в личном кабинете на talent-tag.ru – ваши личные данные подтянутся в ваш профиль автоматически, и он будет уже частично заполнен.
      2. Создать в любой из подключённых социальных сетей запись с тегом **#talenttag** – в течение нескольких минут (в зависимости от настроек соцсети) эта запись подтянется в ваш профиль на TalentTag и станет первой записью вашего Профессионального блога.

       Теперь вы сможете наполнять ваш Профессиональный блог заметками о ваших профессиональных достижениях, новых проектах, посещённых мероприятиях; делиться своими успехами и наработками, размышлениями, наблюдениями и планами; оставлять свои комментарии и высказывать экспертное мнение по заинтересовавшим вас материалам и так далее по желанию.   Записи в блог можно оставлять не только в социальных сетях, но и непосредственно на сайте – например, если вы не хотите писать о работе в сети, которую используете только для общения с друзьями. В вашем личном кабинете также предусмотрены разделы "Обо мне" и "Портфолио", где вы можете разметить ссылки на ваше резюме, примеры работ, презентации, личный сайт. 

      Теперь в ваших руках полноценный инструмент для создания вашего Профессионального бренда и управления им. Уверены, вам есть, о чём рассказать миру, а мы вам в этом поможем!

      Ваша команда TalentTag. 


  = render partial: "partials/footer"
