= content_for :title
  | TalentTag: Резюме R.I.P. Что будет дальше?

= content_for :description
  | Сегодня многие говорят о том, что дни резюме сочтены. Так ли это? Давайте заглянем немного в историю. Еще 20 лет назад интернет в России почти не использовался при поиске персонала. Кадровые агентства вели эту работу, используя преимущественно объявления о вакансиях в печатных СМИ и собственные базы данных кандидатов. 


.col-md-12@content
  section.headline: h1.central TalentTag блог

  section: .text
    .note 12 ноября 2014
    markdown:
      ## Резюме R.I.P. Что будет дальше?

      Сегодня многие говорят о том, что дни резюме сочтены. Так ли это?

      Давайте заглянем немного в историю. Еще 20 лет назад интернет в России почти не использовался при поиске персонала. Кадровые агентства вели эту работу, используя преимущественно объявления о вакансиях в печатных СМИ и собственные базы данных кандидатов. 

      Во второй половине 90-х годов число пользователей сетевых ресурсов в России стало быстро увеличиваться. Кадровые агентства начали создавать свои сайты и размещать на них вакансии, также появились общедоступные бесплатные базы данных вакансий и резюме – первые «работные сайты».

      Начиная с появления крупных специализированных ресурсов, таких как **job.ru**, **rabota.ru**, **hh.ru**, **superjob.ru** и прочих, рынок подбора персонала выработал свои правила поведения специалистов: хочешь быстро найти работу, регистрируйся на сайте, заполняй резюме, откликайся на вакансии или жди, пока к тебе начнут обращаться сами представители компаний-работодателей. Фактически была заложена основа поведения соискателей.

      В свою очередь работодатели получили доступ ко всё возрастающей базе специалистов, заинтересованных в работе. Стандартизация резюме позволила быстро отсекать неподходящие кандидатуры по формальным признакам, что оказалось очень полезным при обилии потенциальных кандидатов на рынке. Предсказуемые карьерные пути, стандартизованные должности, единая структурная матрица в компаниях из одной области позволяли по резюме уже на этапе прескрининга сделать определённые выводы относительно уровня и квалификации специалиста.

      Но мир не стоит на месте: появляются новые профессии, развиваются новые компетенции, пути профессионального развития становятся всё более разнообразными и индивидуальными. Стандартное резюме не позволяет специалистам рассказать в полной мере о своём опыте, а работодателям адекватно оценить уровень профессионализма кандидатов и составить представление об их компетенциях.

      На рынок выходит новый игрок, уже сейчас представляющий собою реальную альтернативу «работным сайтам» - социальные сети. Выросло новое поколение, новое «трудоспособное население», которое практически «живёт» в сети интернет и в особенности – в социальных сетях.

      **Социальные сети** сегодня представляют собой мощный инструмент, позволяющий специалистам заявить о себе, своем опыте, навыках, не будучи ограниченными форматом резюме, а работодателям составить более полное представление о кандидатуре заинтересовавшего специалиста, просматривая его публикации, реплики в дискуссиях, обращая внимание на круг общения и сферу интересов потенциального кандидата.

      Существуют крупные специализированные социальные сети, ориентированные на построение профессиональных связей: например, **linkedin.com**, **viadeo.com**, **professionali.ru**, которые специалисты по поиску персонала уже давно взяли на вооружение.

      Но даже в сетях, изначально ориентированных на общение и развлечения, таких как **vk.com**, **facebook.com**, **twitter.com**, **odnoklassniki.ru** давно смешались личная и общественная жизнь и работа. 

      Френд-листы, открытые посты, комментарии и репосты с рекомендациями, группы по интересам – все это позволило специалистам подстроить социальные сети под собственные нужды и использовать их в качестве нового инструмента поиска работы. Проводя значительную часть своей жизни в социальных сетях, при поиске работы специалисты зачастую предпочитают использовать уже привычное пространство в надежде найти подходящую вакансию.

      При этом можно выделить два пути поиска работы в социальных сетях – активный и пассивный. Пассивный поиск предполагает регулярное упоминание о своей работе и о себе как о профессионале в социальных сетях в целях формирования собственного **профессионального бренда**.

      Инструментами формирования профессионального бренда могут стать собственные посты по тематике, относящейся к специализации специалиста, комментарии к чужим записям, репосты профессиональных новостей, обсуждения в группах и т.п. – в общем, все способы, демонстрирующие профессионализм в соответствующей области. Специалист таким образом поднимает свой авторитет в глазах работодателей и обеспечивает устойчивый интерес к своей персоне.

      Второй способ – это **активный поиск работы** «здесь и сейчас» с помощью постов в социальных сетях в свободной форме на стенах и в соответствующих группах. Публикация сообщения в социальной сети для специалистов всё чаще становится самым первым шагом к поиску работы, поэтому отслеживание таких публикаций позволяет работодателям успеть выйти на интересного кандидата максимально оперативно, что особенно актуально, если требуются редкие профессионалы или вакансия требует закрытия «ещё вчера».

      Таким образом, социальные сети уже всерьёз воспринимаются работодателями в качестве источника доступа как к пассивным, так и к активным кандидатам. Есть, однако, одно «но»: как отобрать нужных специалистов? Текущие методы поиска, встроенные непосредственно в социальные сети, не позволяют качественно «сортировать» результаты, а значит, нужно самостоятельное решение.

      Для облегчения поиска специалистов через социальные сети мы создали сервис **TalentTag**.

      **TalentTag** собирает сообщения о поиске работы, которые специалисты размещают у себя на страничках или в группах в социальных сетях, в единую базу данных. Доступ к базе работодатели получают в своём личном кабинете на **talent-tag.ru**. С данными на сайте очень удобно работать: сохранять в «виртуальные папки», чтобы вернуться к выборке позже, помечать метками, чтобы упорядочить свою работу, оставлять к записям свои комментарии.

      Для специалистов, находящихся в пассивном поиске работы и задумывающихся о своём профессиональном будущем, на **talent-tag.ru** мы предусмотрели возможности ведения профессионального блога, формирования портфолио и использования тегов – кратких меток для обозначения своих навыков, сферы деятельности, профессиональных интересов.

      Подробнее о функционале **TalentTag** для работодателей и специалистов вы можете посмотреть в разделах [Возможности TalentTag](#{ features_path }) и [Как это работает/FAQ](#{ faq_path }).

      Пользователи социальных сетей перестали воспринимать резюме как необходимый элемент поиска работы – они рассказывают о себе там, где им удобно, и в той форме, как им удобно. В поисках ценных специалистов или наиболее «свежих» кандидатов работодатели идут в социальные сети. Помочь работодателям и специалистам найти друг друга помогает **TalentTag**.

  = render partial: "partials/footer"
