a' target="_self" href=specialist_path(notification.author.id) : b = notification.author.name
' добавил
a' target="_self" href=entry_path(notification.data) : b новую запись
' в профессиональный блог
=' time_ago_in_words notification.created_at
| назад
