defaults: &defaults
  utf8: true
  morphology: stem_enru
  index_exact_words: 1
  expand_keywords: 1
  min_infix_len: 3
  blend_chars: U+2e
  blend_mode: trim_both
  indexed_models:
    - Entry
    - User

production:
  <<: *defaults
  exceptions: "/var/www/talenttag/current/config/sphinx_exceptions.txt"
  indices_location: "/var/www/talenttag/shared/db/sphinx"

staging:
  <<: *defaults
  exceptions: "/var/www/talenttag/current/config/sphinx_exceptions.txt"
  indices_location: "/var/www/talenttag/shared/db/sphinx"

development:
  <<: *defaults
  exceptions: "config/sphinx_exceptions.txt"

test:
  <<: *defaults
  mysql41: 9307
  exceptions: "config/sphinx_exceptions.txt"
