markdown:
  Мы рады приветствовать вас на [TalentTag](http://talent-tag.ru).

  Ваш профиль на TalentTag – это больше, чем резюме. С помощью наших сервисов вы сможете не просто найти новую работу уже сейчас, но выстроить свой профессиональный бренд так, чтобы новые предложения находили вас по мере роста вашего профессионализма и изменения ваших профессиональных интересов.

  Мы будем помогать вам и поддерживать вас на пути построения вашего профессионального бренда, и первые шаги вы можете сделать уже сейчас:

  * Подключите социальные сети, которыми вы пользуетесь, в личном кабинете на talent-tag.ru – ваши личные данные подтянутся в ваш профиль автоматически, и он будет уже частично заполнен.

  * Создайте в любой из подключённых социальных сетей запись с тегом #talenttag – в течение нескольких минут (в зависимости от настроек соцсети) эта запись подтянется в ваш профессиональный блог на TalentTag.
  
  * Теперь вы сможете наполнять ваш профессиональный блог записями о ваших профессиональных достижениях, новых проектах, посещённых мероприятиях; делиться своими успехами и наработками, размышлениями, наблюдениями и планами, не покидая любимые социальные сети. 

  Подробнее о функционале сервиса читайте в разделах [Возможности TalentTag](http://talent-tag.ru/features) и [Как это работает/FAQ](http://talent-tag.ru/faq).

  С любыми вопросами и пожеланиями обращайтесь на [feedback@talent-tag.ru](mailto:feedback@talent-tag.ru).

  Хорошей работы!

  Команда TalentTag
