p Здравствуйте.
p Вы успешно зарегистрировались на сайте talent-tag.ru. Вам открыт временный доступ к работе с сайтом в тестовом режиме. Тестовый период составляет 3 часа после регистрации, после чего Вы сможете выбрать тариф по своему вкусу и получить доступ к платному аккаунту.
hr
p С уважением, команда TalentTag
