p Здравствуйте.
p Вы успешно зарегистрировались на сайте talent-tag.ru. Пожалуйста, заполните профиль компании и ожидайте проверки указанной Вами информации администратором.
hr
p С уважением, команда Talent-Tag
