markdown:
  Мы рады приветствовать вас на [TalentTag](http://talent-tag.ru).

  В нашей базе ежедневно появляется более 1000 активно ищущих работу специалистов.

  Находите кандидатов с помощью формы поиска, сохраняйте виртуальные папки, добавляйте метки и комментарии; связывайтесь со специалистами непосредственно через социальные сети, либо с помощью личных сообщений на TalentTag.

  Подробнее о функционале сервиса читайте в разделах [Возможности TalentTag](http://talent-tag.ru/features) и [Как это работает/FAQ](http://talent-tag.ru/faq).

  С любыми вопросами и пожеланиями обращайтесь на [feedback@talent-tag.ru](mailto:feedback@talent-tag.ru).

  Хорошей работы!

  Команда TalentTag
