markdown:
  ##Работодателям

  ###Поиск
  Для поиска по базе данных TalentTag используйте рубрикатор или составляйте поисковые запросы вручную. Уточняйте параметры поиска с помощью функций «искать в найденном» или «только по зарегистрированным специалистам».

  ###Виртуальные папки
  Сохраняйте результаты поиска в автообновляемые виртуальные папки. Новые записи по соответствующему поисковому запросу будут подгружаться в виртуальную папку автоматически, а ненужные вам записи вы сможете просто удалить из папки.

  ###Метки
  Пользуйтесь метками при работе с записями. Метки помогут вам организовать свою работу и быстро найти нужные записи.

  ###Комментарии
  Оставляйте комментарии к записям и просматривайте комментарии коллег при использовании мультипользовательского аккаунта – это поможет отследить историю взаимодействия со специалистами.

  ###Избранное
  Добавляйте специалистов, профиль или записи которых заинтересовали вас, в избранные. Из списка избранных вы сможете оперативно связаться со специалистом или перейти к его профилю на TalentTag.

  ###Уведомления
  Следите за обновлениями избранных специалистов: вы получите уведомление, как только специалист поменяет статус поиска работы или добавит новую запись в свой профессиональный блог.

  ###Прямая связь со специалистами
  Связывайтесь с зарегистрированными на TalentTag специалистами напрямую. Специалист увидит оповещение о новом сообщении у себя в личном кабинете, сможет ознакомиться с данными о вашей компании и ответить вам.

  ###Переход к профилю в социальной сети
  Переходите к профилю специалиста в социальной сети, узнавайте больше о его круге общения и интересах. Связывайтесь через социальные сети с теми специалистами, кто ещё не успел зарегистрироваться на TalentTag.
