markdown:
  ##Специалистам

  ###Интеграция с социальными сетями
  Авторизуйтесь на talent-tag.ru через любимую социальную сеть и подключите другие соцсети, которыми пользуетесь. TalentTag синхронизует данные с вашим личным кабинетом, а кнопки подключенных социальных сетей станут кнопками доступа к вашим страничкам в этих сетях.

  ###Профиль на TalentTag
  Получите уже частично заполненный профиль на TalentTag: при авторизации на talent-tag.ru с помощью одной из соцсетей или подключении социальных сетей в личном кабинете после регистрации данные из социальных сетей подтянутся в ваш профиль автоматически, и он будет уже частично заполнен. Вы можете изменить или дополнить данные в любой момент в настройках аккаунта.

  ###Профессиональный блог
  Рассказывайте о себе работодателям с помощью профессионального блога на TalentTag. Пишите свой профессиональный блог с помощью тега #talenttag, не покидая любимой социальной сети, или добавляйте новые записи в блог в своём личном кабинете на talent-tag.ru.

  ###Теги
  Пользуйтесь тегами, чтобы отметить ваши основные навыки, специализацию, область деятельности и сферу интересов, и работодатели смогут найти вас по тегам.

  ###Статус
  Управляйте своим статусом поиска работы: ищу работу/ рассматриваю предложения/ пока ничего не рассматриваю в зависимости от вашей текущей заинтересованности в новых предложениях.

  ###Уведомления
  Узнавайте, кого заинтересовал ваш профиль. Как только работодатель добавит ваш профиль в избранные, вы получите уведомление, сможете ознакомиться с карточкой этого работодателя и при желании связаться с ним самостоятельно.

