@import mixins


.presets
  overflow: hidden
  text-align: center
  margin-top: 80px
  .kw
    display: inline-block
    float: none
    cursor: pointer


.back
  margin-bottom: 26px



[role=folders], [role=searches]
  h4
    margin-top: 0
  a.edit
    margin-top: 3px
    text-decoration: none


#results
  .nav-tabs
    padding: 6px 10px 0
    li
      width: 50%

[role=results-entries]
  .entry:first-of-type
    padding-top: 10px
  .entry-head
    line-height: 22px

[role=results-specialists]
  .specialist-card
    padding: 14px 0 7px
    border-bottom: 1px solid #eeeeee
    overflow: hidden
    .avatar
      +avatar(60px)
      float: left
    .details
      margin-left: 75px
