/*
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap"
@import font-awesome

html, body
  height: 100%
  background-color: #eee

ul
  list-style: none
  padding: 0

  &.divided
    margin: 0
    color: #aaa
    li
      display: inline
      &:after
        content: "|"
      &:first-child
        a
          margin-left: 0
      &:last-child
        &:after
          content: ""
        a
          margin-right: 0
      a
        margin: 0 15px

#wrapper
  width: 1000px
  margin: auto
  padding: 20px 50px
  border: 1px solid #bbb
  box-shadow: 0 5px 15px #bbb
  min-height: 100%
  background-color: #fff

#auth
  .modal-dialog
    width: 300px
    &.medium
      width: 420px
    &.wide
      width: 650px
  .signedin
    text-align: right
  #mainmenu
    text-align: right

  #forgot-credentials
    position: absolute
    height: 100%
    width: 70%
    top: 0
    left: -70%
    z-index: 1500
    background-color: #eeeeee
    box-shadow: 2px 2px 10px #bbbbbb
    transition: all 0.3s
    &.shown
      left: 0


[role=signin-form], [role=forgot-form]
  #error-placeholder
    position: relative
  .form-error
    position: absolute
    right: 8px
    top: 6px

.modal-body
  background-color: #eee
  box-shadow: 0 4px 20px #bbb inset
  overflow: hidden
  padding: 20px 0 30px

.modal-footer
  margin: 0
  padding: 7px 20px

.slim
  font-weight: 200

.tooltip
  width: 160px
.err, .form-error
  color: #b94a48
  font-size: 12px
.form-error
  padding-top: 4px
  float: right
  font-size: 12px

.kw
  display: block
  float: left
  margin: 0 15px 7px 0
  padding: 3px 7px
  background-color: #eee
  border-radius: 4px

  .close
    margin: -2px 0 0 5px

.entry
  padding: 12px 22px
  border-bottom: 1px solid #eee
  &:hover
    background-color: #f7f7f7

#bottom-gutter
  margin-top: 22px

.badge
  font-weight: normal
  margin-right: 7px
  &.new
    background-color: rgb(72,219,72)
    margin-left: 12px

span.glyphicon
  margin-right: 7px

#keyword-tips
  select
    margin: 7px 0
  .kw-placeholder
    line-height: 23px

ul.edit-mode
  li
    margin-bottom: 3px
    input
      height: 22px
      &[type=text]
        padding: 0 0 0 12px
      &[type=submit]
        padding: 0 10px
    a.remove-item
      font-size: 20px
      margin: 0 0 0 10px
      line-height: 18px

#profile
  margin-top: 20px

#go-top
  position: fixed
  bottom: 7px
  right: 10px
  display: none

#search
  padding-right: 30px
  border-radius: 5px 0 0 5px
  box-shadow: 0 3px 5px #ddd inset

#clear-search
  position: absolute
  right: 77px
  top: 8px
  font-size: 18px

#promo-time-left
  margin-top: -23px
  text-align: right
  color: crimson
  h2
    margin: 0

.well-blue
  background-color: #428bca
  border-color: #357ebd
a.well-blue
  color: #fff
  display: block
  text-decoration: none
  &:hover
    background-color: #57A2E2
  &[role=buy-premium]
    font-size: 20px



#signup-b2c
  #social-wrapper
    border-bottom: 1px solid #ddd
    padding: 0 30px
    #social
      .fa
        font-size: 30px
      li
        display: inline
        margin-right: 12px
        &:last-child
          margin-right: 0

  .carousel
    margin: 0
    padding: 15px 0
    position: absolute
    transition: all 0.3s
    width: 300%
    &.signin
      left: -100%
    &.signup
      left: 0%
    &.forgot
      left: -200%

    form
      padding: 0 15px
