/*
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap"

html, body
  height: 100%
  background-color: #eee

#wrapper
  width: 1000px
  margin: auto
  padding: 20px 50px
  border: 1px solid #bbb
  box-shadow: 0 5px 15px #bbb
  min-height: 100%
  background-color: #fff

#auth
  .modal-dialog
    width: 300px
  .signedin
    text-align: right

.slim
  font-weight: 200

.tooltip
  width: 160px
.err
  color: crimson
  font-size: 12px
