/*
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap"

html, body
  height: 100%
  background-color: #eee

ul
  list-style: none
  padding: 0

#wrapper
  width: 1000px
  margin: auto
  padding: 20px 50px
  border: 1px solid #bbb
  box-shadow: 0 5px 15px #bbb
  min-height: 100%
  background-color: #fff

#auth
  .modal-dialog
    width: 300px
    &.wide
      width: 650px
  .signedin
    text-align: right
  ul
    list-style: none
    text-align: right
    li
      display: inline
      &:before
        content: "|"
      a
        margin: 0 5px
    &:after
      content: "|"

.modal-body
  background-color: #eee
  box-shadow: 0 4px 20px #bbb inset

.slim
  font-weight: 200

.tooltip
  width: 160px
.err, .error
  color: crimson
  font-size: 12px


.kw
  display: block
  float: left
  margin: 0 15px 7px 0
  padding: 3px 7px
  background-color: #eee
  border-radius: 4px

  .close
    margin: -2px 0 0 5px

.entry
  padding: 12px 22px
  border-bottom: 1px solid #eee
  &:hover
    background-color: #f7f7f7

#bottom-gutter
  margin-top: 22px

.badge
  font-weight: normal
  margin-right: 7px
  &.new
    background-color: rgb(72,219,72)
    margin-left: 12px

span.glyphicon
  margin-right: 7px

#keyword-tips
  select
    margin: 7px 0
  .kw-placeholder
    line-height: 23px

ul.edit-mode
  li
    margin-bottom: 3px
    input
      height: 22px
      &[type=text]
        padding: 0 0 0 12px
      &[type=submit]
        padding: 0 10px
    a.remove-item
      font-size: 20px
      margin: 0 0 0 10px
      line-height: 18px

#profile
  margin-top: 20px

#go-top
  position: fixed
  bottom: 7px
  right: 10px
  display: none

#search
  padding-right: 30px

#clear-search
  position: absolute
  right: 77px
  top: 8px
  font-size: 18px

.well-blue
  background-color: #428bca
  border-color: #357ebd
a.well-blue
  color: #fff
  display: block
  text-decoration: none
  &:hover
    background-color: #57A2E2
  &[role=buy-premium]
    font-size: 20px
