@import mixins


[role="comments-section"]
  .comment
    border-bottom: 1px solid #ddd
    padding: 7px 0
    overflow: hidden

    .avatar
      @include avatar(50px)
      float: left
      margin-right: 12px

    .content
      margin-left: 65px

      .time
        float: right
        color: #999

  textarea
    width: 100%
