[role="comments-section"]
  .comment
    border-bottom: 1px solid #ddd
    padding: 7px 0
    overflow: hidden

    .avatar
      float: left
      width: 50px
      border: 1px solid #ddd

    .content
      margin-left: 65px

      .time
        float: right
        color: #999

  textarea
    width: 100%
