@import mixins

#logo
  font-size: 20px
  line-height: 35px

[role=mainmenu]
  +horizontal-list(12px)
  overflow: visible
  line-height: 35px
  float: right
  a
    text-decoration: none

  .avatar
    +avatar(35px)
    margin-left: 8px
  .caret
    margin-left: 8px

  [role=notifications]
    .dropdown-menu
      +dropdown-arrow(300px, 70px)
    .notifications
      li
        margin: 7px 14px 0
        padding-bottom: 7px
        border-bottom: 1px solid #ccc
        &:last-of-type
          border-bottom: none
        a
          margin: 0
    .no-notifications
      color: #999
      margin: 20px 0
      text-align: center

  [role=actions]
    .dropdown-menu
      +dropdown-arrow(180px, 110px)
