@import _config
@import mixins

#logo
  font-size: 20px
  line-height: 35px
  a
    text-decoration: none
    font-weight: normal
    line-height: 20px
    span
      border: solid 2px
      padding: 0 3px 1px
      border-radius: 4px


[role=faq-links]
  margin-right: 26px
  a
    padding: 0 12px
    line-height: 38px

[role=mainmenu]
  +horizontal-list(12px)
  overflow: visible
  line-height: 35px
  float: right
  a
    text-decoration: none

  .avatar
    +avatar(35px)
    margin-left: 8px
  .caret
    margin-left: 8px

  .dropdown-toggle
    position: relative

  [role=messages], [role=notifications]
    li
      margin: 7px 14px 0
      padding-bottom: 7px
      border-bottom: 1px solid #ccc
      &:last-of-type
        border-bottom: none
      a
        margin: 0

    .dropdown-menu
      +dropdown-arrow(300px, 70px)

    .messages
      .avatar
        margin: 0
      .content
        margin-left: 45px
      a
        color: #000
      p
        margin: 0
      .info
        color: #999

    .no-items
      color: #999
      margin: 20px 0
      text-align: center

  [role=actions]
    .dropdown-menu
      +dropdown-arrow(180px, 110px)

.look-at-me
  font-size: 10px
  line-height: 10px
  padding: 2px 4px
  border-radius: 8px
  background-color: $look-at-me-color
  position: absolute
  top: -8px
  left: 7px
  color: #fff


[role=auth]
  .btn
    background-color: #fff
    border: 1px solid $grayed-color
  .employers
    color: $employer-color
    &:hover
      color: $employer-hover-color
  .specialists
    color: $specialist-color
    &:hover
      color: $specialist-hover-color
