$employer-color: #55B1E5
$employer-hover-color: #499CCB
$specialist-color: #53BC60
$specialist-hover-color: #47A552

$grayed-color: #98A1A4

[role=promo]
  section
    border-bottom: 1px solid #E9F0F2
    overflow: hidden
    padding: 55px 0
    color: $grayed-color
  h2
    margin: 0
    font-size: 26px
    font-weight: normal
  ul
    font-size: 16px
    margin: 40px 0 45px
    li
      margin-bottom: 20px
  .icon
    margin-right: 12px
  .btn
    margin-bottom: 12px
    padding: 10px 30px
    color: #fff


  .headline
    padding: 60px 100px
    font-size: 16px
    color: #98A1A4
    h1
      font-size: 30px
      font-weight: normal
      margin: 0 0 24px

  .employers
    h2
      color: $employer-color
    .screenshot
      float: right
    .highlightedd
      color: $employer-color
    .btn
      background-color: $employer-color
      &:hover
        background-color: $employer-hover-color

  .specialists
    h2
      color: $specialist-color
    .screenshot
      float: left
      margin-right: 40px
    .highlightedd
      color: $specialist-color
    .btn
      background-color: $specialist-color
      &:hover
        background-color: $specialist-hover-color


[role=footer]
  color: $grayed-color
  padding: 50px 0 30px
  li
    margin: 0 32px
