@import mixins

#b2c

  [role=overview]
    section
      border-bottom: 1px solid #ccc
      &:last-of-type
        border: none


  section
    padding: 15px 0
    h5
      color: #999
      text-transform: uppercase
      margin: 25px 0 15px
      &:first-of-type
        margin-top: 0


    &.basic, &.status
      text-align: center
      > *
        margin: auto

      [role=avatar]
        @include avatar(80px)
        margin-bottom: 12px

      [role=personal], [role=interact]
        margin: 20px 0
        width: 100%
        > *
          padding: 0

      [role=tags]
        overflow: hidden


  [role=menu]
    text-transform: uppercase
    font-weight: bold
    font-size: 12px
    a
      text-decoration: none
      &.current
        color: #000

  [role=menu], [role=new-entry], .entry
    border-bottom: 1px solid #ccc
    padding: 15px 0
