p Здравствуйте.
p Ваша заявка на предоставление доступа к системе рассмотрена, но была отклонена. Комментарий администратора:
p style="color:#808080" = @proposal.note
p С уважением, команда TalentTag
