.col-md-12@content
  section.headline: h1.central О проекте

  section: .text
    markdown:
      **TalentTag – простой и удобный сервис по поиску работы и сотрудников через социальные сети.**

      **Социальные сети** имеют огромный потенциал: всё чаще о своём желании сменить работу специалисты рассказывают в первую очередь именно в социальных сетях, а работодатели уже давно прибегают к социальным сетям не только для проверки профилей заинтересовавших специалистов, но и для поиска потенциальных кандидатов. Однако в «ручном режиме» поиск в социальных сетях напоминает поиск иголки в стоге сена и занимает слишком много драгоценного времени.

      **TalentTag** берёт на себя все организационные вопросы по поиску работы и сотрудников через социальные сети. Все записи из социальных сетей, посвящённые поиску работы, собираются в базу данных TalentTag и становятся доступными для работодателей. Если запись принадлежит уже зарегистрированному на talent-tag.ru специалисту, то она автоматически подтягивается в его личный профиль и становится записью его личного профессионального блога.

      Сервис talent-tag.ru ориентирован на обе категории пользователей – работодателей и специалистов.

      **Для работодателей** функционал личного кабинета включает в себя поиск по базе записей, сохранение записей в автообновляемые «виртуальные папки», работу с метками и комментариями, добавление специалистов в «избранные», подписку на обновление актуального статуса поиска работы и новые записи в профессиональном блоге избранных специалистов, коллаборацию пользователей (для мультипользовательских аккаунтов).

      **Личный кабинет специалиста** - это возможность интегрировать свой профиль с социальными сетями, вести свой профессиональный блог, формируемый автоматически из записей, помеченных тегом #talenttag в соцсетях, или непосредственно в личном кабинете на TalentTag, управление статусом поиска работы (ищу работу/ рассматриваю предложения/ пока ничего не рассматриваю), возможность отследить, кто из работодателей интересовался профилем специалиста на сайте.

      Подробнее о функционале сайта читайте в разделах [Как это работает/FAQ](#{ faq_path }) и [Возможности TalentTag](#).

      Сейчас сайт работает в бета-версии – мы тестируем функционал, юзабилити, нагрузку, а параллельно дописываем систему. Изменения на сайт вносятся практически каждый день, и вы можете следить за тем, как сайт преображается, становится ещё более удобным и красивым.

      Наша ведущая мотивация – сделать действительно уникальный и востребованный продукт. Мы с уважением относимся к критике и с благодарностью принимаем замечания – пишите ваши отзывы и комментарии на адрес [feedback@talent-tag.ru](mailto:feedback@talent-tag.ru).

      Приглашаем всех к нам на talent-tag.ru. Заходите, пользуйтесь, делитесь с друзьями!

  = render partial: "partials/footer"
