.col-md-12@content
  section.headline: h1.central Возможности TalentTag

  section@features
    .row
      .column.col-md-6
        markdown:
          ##Работодателям

          ###Поиск
          Для поиска по базе данных TalentTag используйте рубрикатор или составляйте поисковые запросы вручную. Уточняйте параметры поиска с помощью функций «искать в найденном» или «только по зарегистрированным специалистам».

          ###Виртуальные папки
          Сохраняйте результаты поиска в автообновляемые виртуальные папки. Новые записи по соответствующему поисковому запросу будут подгружаться в виртуальную папку автоматически, а ненужные вам записи вы сможете просто удалить из папки.

          ###Метки
          Пользуйтесь метками при работе с записями. Метки помогут вам организовать свою работу и быстро найти нужные записи.

          ###Комментарии
          Оставляйте комментарии к записям и просматривайте комментарии коллег при использовании мультипользовательского аккаунта – это поможет отследить историю взаимодействия со специалистами.

          ###Избранное
          Добавляйте специалистов, профиль или записи которых заинтересовали вас, в избранные. Из списка избранных вы сможете оперативно связаться со специалистом или перейти к его профилю на TalentTag.

          ###Уведомления
          Следите за обновлениями избранных специалистов: вы получите уведомление, как только специалист поменяет статус поиска работы или добавит новую запись в свой профессиональный блог.

          ###Прямая связь со специалистами
          Связывайтесь с зарегистрированными на TalentTag специалистами напрямую. Специалист увидит оповещение о новом сообщении у себя в личном кабинете, сможет ознакомиться с данными о вашей компании и ответить вам.

          ###Переход к профилю в социальной сети
          Переходите к профилю специалиста в социальной сети, узнавайте больше о его круге общения и интересах. Связывайтесь через социальные сети с теми специалистами, кто ещё не успел зарегистрироваться на TalentTag.


      .column.col-md-6
        markdown:
          ##Специалистам

          ###Интеграция с социальными сетями
          Авторизуйтесь на talent-tag.ru через любимую социальную сеть и подключите другие соцсети, которыми пользуетесь. TalentTag синхронизует данные с вашим личным кабинетом, а кнопки подключенных социальных сетей станут кнопками доступа к вашим страничкам в этих сетях.

          ###Профиль на TalentTag
          Получите уже частично заполненный профиль на TalentTag: при авторизации на talent-tag.ru с помощью одной из соцсетей или подключении социальных сетей в личном кабинете после регистрации данные из социальных сетей подтянутся в ваш профиль автоматически, и он будет уже частично заполнен. Вы можете изменить или дополнить данные в любой момент в настройках аккаунта.

          ###Профессиональный блог
          Рассказывайте о себе работодателям с помощью профессионального блога на TalentTag. Пишите свой профессиональный блог с помощью тега #talenttag, не покидая любимой социальной сети, или добавляйте новые записи в блог в своём личном кабинете на talent-tag.ru.

          ###Портфолио
          Сохраняйте ссылки на свои работы, проекты, презентации в портфолио на TalentTag. Вы сможете рассказать об этих материалах подробнее в профессиональном блоге, и у работодателей сложится более полное представление о ваших профессиональных знаниях и достижениях.

          ###Теги
          Пользуйтесь тегами, чтобы отметить ваши основные навыки, специализацию, область деятельности и сферу интересов, и работодатели смогут найти вас по тегам.

          ###Статус
          Управляйте своим статусом поиска работы: ищу работу/ рассматриваю предложения/ пока ничего не рассматриваю в зависимости от вашей текущей заинтересованности в новых предложениях.

          ###Уведомления
          Узнавайте, кого заинтересовал ваш профиль. Как только работодатель добавит ваш профиль в избранные, вы получите уведомление, сможете ознакомиться с карточкой этого работодателя и при желании связаться с ним самостоятельно.


  = render partial: "partials/footer"
