.col-md-12@content
  section.headline: h1.central Возможности TalentTag

  section@features
    .row
      .column.col-md-6
        markdown:
          ##Работодателям

          ###Поиск
          Для поиска по базе данных TalentTag используйте рубрикатор или вводите поисковые запросы вручную. Вы можете также искать в найденном или выбрать записи только зарегистрированных специалистов.

      .column.col-md-6
        markdown:
          ##Специалистам

          ###Интеграция с социальными сетями
          Авторизуйтесь на talent-tag.ru через любимую социальную сеть и подключите другие соцсети, которыми пользуетесь. TalentTag синхронизирует данные с вашим личным кабинетом, а кнопки подключенных социальных сетей станут кнопками доступа к вашим страничкам в этих соцсетях.


  = render partial: "partials/footer"
