.col-md-12#markdown
  markdown:
    **TalentTag** – принципиально новая онлайн-система поиска и подбора персонала.

    С помощью **TalentTag** специалист, ищущий работу или задумывающийся о смене работы, и работодатель, ищущий нового сотрудника, могут найти друг друга, не прибегая к помощи посредников.

    Как это работает?
 
    **Шаг 1.**
    Будущий сотрудник рассказывает в любой социальной сети, которой он пользуется, о своей заинтересованности в рассмотрении новых предложений о работе и/или помечает свое сообщение тегом **#talenttag**, и эта запись попадает в базу данных **TalentTag**, привязываясь к индивидуальной странице специалиста. Индивидуальная страница специалиста включает его личный профиль и все записи, помеченные тегом **#talenttag** за весь период.
    
    **Шаг 2.**
    Будущий работодатель формирует поисковый запрос в системе **TalentTag**, отмечает и сохраняет понравившиеся ему профили кандидатов, далее связывается с будущим сотрудником напрямую или посредством **TalentTag**.
 
    #### Для работодателей:
    * доступ к постоянно обновляемой базе данных потенциальных кандидатов 
    * удобный поиск по базе с возможностью сохранения поисковых запросов в виртуальных папках
    * удобная организация работы с выбранными данными с помощью пользовательских меток
    * возможность отслеживать активность кандидата и смену его статуса поиска работы
    * для больших компаний: возможность создания мультипользовательского аккаунта 

    #### Для специалистов:
    * возможность использовать любимую пользовательскую площадку (социальную сеть, личный блог, профессиональное сообщество и проч.) в качестве помощника в поиске работы
    * активный пользовательский профиль на **TalentTag** с одновременным доступом к излюбленным пользовательским площадкам и с возможностью управлять своими записями из одного места
    * создание профессионального блога, автоматически формируемого из сообщений, посвященных работе и помеченных тегом **#talenttag**, опубликованных на любимой пользовательской площадке
    * управление собственным статусом: активно ищу работу/ открыт предложениям/ пока не рассматриваю

  hr
  .alert.alert-danger
    ' Сайт находится в стадии разработки, но в тестовом режиме часть функционала уже доступна. Регистрируйтесь/ авторизуйтесь, чтобы начать работу с сайтом. Свои замечания, комментарии, вопросы и предложения по работе сайта высылайте на
    a.alert-link href="mailto:feedback@talent-tag.ru" feedback@talent-tag.ru.
